/* styles.css */

html { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 179, 179);
  }

h1 {
    font-size: 50px;
    text-align: center;
}  

ul {
    list-style-type: square; 
    padding: 4%;
    background-color: beige;
}